# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [6]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [7]:
import os
import glob

# Создаем строку с путем к папке, где лежат данные
path: str = os.getcwd() + "/Data"

# Собираем имена всех файлов формата .csv в список
csv_files: list[str] = glob.glob(os.path.join(path, "*.csv"))

# Теперь создадим два списка: в одном будут файлы с информацией о студентах в порядке групп 0-9
# В другом будут файлы с информацией об оценках студента в порядке групп 0-9
student_info_files: list[str] = sorted(list(filter(lambda path_name: path_name.find("Students_info") != -1, csv_files)))
student_marks_files: list[str] = sorted(list(filter(lambda path_name: path_name.find("Students_marks") != -1, csv_files)))

# Считываем с диска и объединяем таблицы разных групп: сначала с информацией, затем с оценками
si = pd.concat([pd.read_csv(file) for file in student_info_files], ignore_index=True)
sm = pd.concat([pd.read_csv(file) for file in student_marks_files], ignore_index=True)

# Делаем merge этих таблиц, чтобы кроме информации о студенте у нас также были его оценки
df = si.merge(sm)
df.head(25)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50
10,10,male,group C,associate's degree,standard,none,group1,58,54,52
11,11,male,group D,associate's degree,standard,none,group1,40,52,43
12,12,female,group B,high school,standard,none,group1,65,81,73
13,13,male,group A,some college,standard,completed,group1,78,72,70
14,14,female,group A,master's degree,standard,none,group1,50,53,58
15,15,female,group C,some high school,standard,none,group1,69,75,78
16,16,male,group C,high school,standard,none,group1,88,89,86
17,17,female,group B,some high school,free/reduced,none,group1,18,32,28
18,18,male,group C,master's degree,free/reduced,completed,group1,46,42,46
19,19,female,group C,associate's degree,free/reduced,none,group1,54,58,61
20,20,male,group D,high school,standard,none,group1,66,69,63
21,21,female,group B,some college,free/reduced,completed,group1,65,75,70
22,22,male,group D,some college,standard,none,group1,44,54,53
23,23,female,group C,some high school,standard,none,group1,69,73,73
24,24,male,group D,bachelor's degree,free/reduced,completed,group1,74,71,80

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [8]:
df = df.drop("index", axis=1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [9]:
print(f"{len(df)} rows x {len(df.columns)} columns")

1000 rows x 9 columns

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [10]:
df.describe(include=['int', 'float']).loc[['min', 'max', 'mean', 'std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [11]:
df.isnull().values.any()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [12]:
m = {
    "Math": "math score",
    "Reading": "reading score",
    "Writing": "writing score"
}

results: list[str] = list(map(lambda pair: f"{pair[0]} mean score: {df[pair[1]].mean()}", m.items()))
print("\n".join(results))

Math mean score: 66.089
Reading mean score: 69.169
Writing mean score: 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [13]:
df_prepared = df.query("`test preparation course` == 'completed'")
df_non_prepared = df.query("`test preparation course` == 'none'")

results: list[str] = \
    list(map(lambda pair: f"{pair[0]}: prepared mean score = {df_prepared[pair[1]].mean()}, non prepared mean score = {df_non_prepared[pair[1]].mean()}", m.items()))
print("\n".join(results))

Math: prepared mean score = 69.69553072625699, non prepared mean score = 64.0778816199377
Reading: prepared mean score = 73.89385474860335, non prepared mean score = 66.53426791277259
Writing: prepared mean score = 74.41899441340782, non prepared mean score = 64.50467289719626

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [14]:
print(", ".join(df['lunch'].unique()))

standard, free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [15]:
df.rename(columns={
    'parental level of education': 'education',
    'test preparation course': 'test preparation'
}, inplace=True)

**Зафиксируем минимальный балл для сдачи экзамена**

In [16]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [17]:
# Не особо понятно условие для пунктов 2 и 3
student_count = len(df.index)
passed_exam_count = len(df.query("`math score` >= @passmark").index)
prepared_student_count = len(df.query("`test preparation` == 'completed'"))
prepared_and_passed_exam_count = len(df.query("`math score` >= @passmark and `test preparation` == 'completed'").index)
women_didnt_prepare_count = len(df.query("`test preparation` == 'none' and `gender` == 'female'").index)
women_did_not_prepare_and_did_not_pass_count = len(df.query("`math score` < @passmark and `test preparation` == 'none' and `gender` == 'female'").index)

print("1ый вариант моего понимания условия")
print(f"Passed exam: {(passed_exam_count / student_count)} - {100 * (passed_exam_count / student_count)}% - {passed_exam_count} out of {student_count}")
print(f"Prepared and passed exam: {prepared_and_passed_exam_count / prepared_student_count} - {100 * (prepared_and_passed_exam_count / prepared_student_count)}% - {prepared_and_passed_exam_count} out of {prepared_student_count}")
print(f"Women that didn't prepare and didn't pass exam: {women_did_not_prepare_and_did_not_pass_count / women_didnt_prepare_count} - {100 * (women_did_not_prepare_and_did_not_pass_count / women_didnt_prepare_count)}% - {women_did_not_prepare_and_did_not_pass_count} out of {women_didnt_prepare_count}")

print("2ой вариант моего понимания условия")
print(f"Passed exam: {(passed_exam_count / student_count)} - {100 * (passed_exam_count / student_count)}% - {passed_exam_count} out of {student_count}")
print(f"Prepared and passed exam: {prepared_and_passed_exam_count / student_count} - {100 * (prepared_and_passed_exam_count / student_count)}% - {prepared_and_passed_exam_count} out of {student_count}")
print(f"Women that didn't prepare and didn't pass exam: {women_did_not_prepare_and_did_not_pass_count / student_count} - {100 * (women_did_not_prepare_and_did_not_pass_count / student_count)}% - {women_did_not_prepare_and_did_not_pass_count} out of {student_count}")

1ый вариант моего понимания условия
Passed exam: 0.865 - 86.5% - 865 out of 1000
Prepared and passed exam: 0.9217877094972067 - 92.17877094972067% - 330 out of 358
Women that didn't prepare and didn't pass exam: 0.20958083832335328 - 20.958083832335326% - 70 out of 334
2ой вариант моего понимания условия
Passed exam: 0.865 - 86.5% - 865 out of 1000
Prepared and passed exam: 0.33 - 33.0% - 330 out of 1000
Women that didn't prepare and didn't pass exam: 0.07 - 7.000000000000001% - 70 out of 1000

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [18]:
%%time
ethnic_groups_and_their_reading_scores = df.groupby("race/ethnicity")["reading score"]
results_for_eth: list[str] = list(map(lambda pair: f"Ethnicity group: {pair[0]}; mean reading score = {sum(pair[1]) / len(pair[1])}", ethnic_groups_and_their_reading_scores))
print("\n".join(results_for_eth))

education_and_writing_scores = df.groupby("education")["writing score"]
results_for_edu: list[str] = list(map(lambda pair: f"Education level: {pair[0]}; min writing score = {min(pair[1])}", education_and_writing_scores))
print("\n".join(results_for_edu))

Ethnicity group: group A; mean reading score = 64.67415730337079
Ethnicity group: group B; mean reading score = 67.35263157894737
Ethnicity group: group C; mean reading score = 69.10344827586206
Ethnicity group: group D; mean reading score = 70.03053435114504
Ethnicity group: group E; mean reading score = 73.02857142857142
Education level: associate's degree; min writing score = 35
Education level: bachelor's degree; min writing score = 38
Education level: high school; min writing score = 15
Education level: master's degree; min writing score = 46
Education level: some college; min writing score = 19
Education level: some high school; min writing score = 10
CPU times: user 2.24 ms, sys: 4.17 ms, total: 6.41 ms
Wall time: 6.2 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [19]:
%%time
group1: dict[str, list[int]] = {}
group2: dict[str, list[int]] = {}
rows = df.values.tolist()
for row in rows:
    ethnicity = row[1]
    education = row[2]
    reading_score = row[-2]
    writing_score = row[-1]
    if not ethnicity in group1.keys():
        group1[ethnicity] = [reading_score]
    else:
        group1[ethnicity] += [reading_score]

    if not education in group2.keys():
        group2[education] = [writing_score]
    else:
        group2[education] += [writing_score]

for ethnicity, score_list in sorted(group1.items()):
    print(f"Ethnicity group: {ethnicity}; mean reading score = {sum(score_list) / len(score_list)}")

for education, score_list in sorted(group2.items()):
    print(f"Education level: {education}; min writing score = {min(score_list)}")

Ethnicity group: group A; mean reading score = 64.67415730337079
Ethnicity group: group B; mean reading score = 67.35263157894737
Ethnicity group: group C; mean reading score = 69.10344827586206
Ethnicity group: group D; mean reading score = 70.03053435114504
Ethnicity group: group E; mean reading score = 73.02857142857142
Education level: associate's degree; min writing score = 35
Education level: bachelor's degree; min writing score = 38
Education level: high school; min writing score = 15
Education level: master's degree; min writing score = 46
Education level: some college; min writing score = 19
Education level: some high school; min writing score = 10
CPU times: user 2.29 ms, sys: 989 µs, total: 3.27 ms
Wall time: 3.05 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [20]:
df_for_pivot = df.drop(["race/ethnicity", "test preparation", "group", "lunch"], axis=1)
grouped = pd.pivot_table(data=df_for_pivot,index=["gender", "education"])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [21]:
# Наверное циклы нельзя, но красиво, компактно и читаемо сделать через функциональщину тоже самое не выйдет
for subject_name, column_name in m.items():
    df[f"{subject_name}_PassStatus"] = df.apply(lambda current_row: current_row[column_name] >= passmark and "P" or "F", axis=1)

for subject_name, _ in m.items():
    passed_subject_count = len(df.query(f"`{subject_name}_PassStatus` == 'P'").index)
    not_passed_subject_count = len(df.query(f"`{subject_name}_PassStatus` == 'F'").index)
    print(f"Passed {subject_name} - {passed_subject_count}; Did not pass {subject_name} - {not_passed_subject_count}")

Passed Math - 865; Did not pass Math - 135
Passed Reading - 910; Did not pass Reading - 90
Passed Writing - 886; Did not pass Writing - 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [22]:
df["OverAll_PassStatus"] = df.apply(lambda current_row: \
    (current_row["Math_PassStatus"] == "P" and current_row["Reading_PassStatus"] == "P" and current_row["Writing_PassStatus"] == "P") \
                                    and "P" or "F", axis=1)
passed_all_exams_count = len(df.query(f"`OverAll_PassStatus` == 'P'").index)
print(f"Passed all exams - {passed_all_exams_count}")

Passed all exams - 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [23]:
def GetGrade(average_mark):
    if average_mark > 90:
        return "A"

    if 80 <= average_mark <= 90:
        return "B"

    if 70 <= average_mark < 80:
        return "C"

    if 60 <= average_mark < 70:
        return "D"

    if 50 <= average_mark < 60:
        return "E"

    return "F"


def GetAverageGradeFromRow(row_from_table):
    math_score_from_row = row_from_table["math score"]
    reading_score_from_row = row_from_table["reading score"]
    writing_score_from_row = row_from_table["writing score"]
    return (math_score_from_row + reading_score_from_row + writing_score_from_row) / 3

df["Grade"] = df.apply(lambda current_row: GetGrade(GetAverageGradeFromRow(current_row)), axis=1)
student_count_for_each_grade = df.groupby("Grade")
results: list[str] = list(map(lambda pair: f"Grade = {pair[0]}, student count = {len(pair[1])}", student_count_for_each_grade))
print("\n".join(results))

Grade = A, student count = 50
Grade = B, student count = 148
Grade = C, student count = 261
Grade = D, student count = 256
Grade = E, student count = 182
Grade = F, student count = 103